package link

// Link renders a styled anchor element.
templ linkTemplate(href string, options ...Option) {
	{{ cfg := newConfig(href, options) }}
	<a
		if cfg.id != "" {
			id={ cfg.id }
		}
		href={ cfg.safeHref() }
		if cfg.target != "" {
			target={ cfg.target }
		}
		if cfg.effectiveRel() != "" {
			rel={ cfg.effectiveRel() }
		}
		if cfg.effectiveRole() != "" {
			role={ cfg.effectiveRole() }
		}
		class={ cfg.classes() }
		{ cfg.attrs... }
	>
		if cfg.icon != nil && cfg.iconPosition == IconLeading {
			@cfg.icon
		}
		{ children... }
		if cfg.icon != nil && cfg.iconPosition != IconLeading {
			@cfg.icon
		}
	</a>
}
