package demo

import searchfield "github.com/araihu/goshtoso/components/search"

templ chartsSidebarSearchSlot() {
	<div class="docs-sidebar-search shrink-0">
		@searchfield.SearchField(chartsSearchConfig())
	</div>
}
